#cart-products{
	margin-bottom: 1rem;
}

#cart-products .product-image{
	height: 5rem;
}

#cart-products .card{
	padding-left: 1rem;
	padding-right: 1rem;
}

#cart-products .card div{
	margin-top: auto;
	margin-bottom: auto;
}

#cart-products .card input[type="text"]{
	width: 2.8rem;
}

#pagar{
    padding: 1rem;
    max-width: 15rem;
}

.product-item{
	padding: 3px;
	font-size: large;
}

.product-item .ammount input{
	max-width: 5rem;
}

.descuento{
	color: #f00;
}

.removeButton{
	height: 2rem;
	margin-right: 10px;
}
