/* navbar */
#nav {
	background-color: #32e0c4 !important;
	padding: 0px 16px 0px 16px;
}

#nav .nav-item a {
	color: #222831;
	font-size: 125%;
	font-weight: 600;
	padding-bottom: 12px;
}

/* varbar cart */
#cart {
	padding-left: 0;
}

#cart span.number {
	margin-left: .5rem;
	color: green;
}

#cart img {
	height: 1.25rem;
}


#footer {
	background-color: #222831;
}

#searchbar input {
	border-radius: .25rem 0 0 .25rem;
	margin-right: 0 !important;
}

/* content */

#promo {
	padding: 0;
}

#content {
	padding: 1rem 1rem 0 1rem;
}

body{
	background-color: #eeeeee;
}

.wrapper {
	margin: 0px;
}

.browse-dummy {
	margin: 0px;
	padding: 0px;
}

.browse-result {
	width: 95%;
	margin-top: 1rem;
}

.product-space{
	padding: 0;
}

.nopadding {
	padding: 0;
}

.navbar-toggler {
	background-color: #eeeeee;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2834, 40, 49, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

div.discount {
	font-size: 12px;
	color: #ee5856;
	/* font-family: "ProximaNova-Reg-webfont", 'Times New Roman'; */
}

div.discount span {
	text-decoration: line-through;
}

li{
	list-style-type: none;
}
