{% extends 'SidebarTemplate.html' %}
{% load static %}

{% block title %}Cart{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/sidebar.js'%}"></script>
<script src="{% static 'js/cart.js'%}"></script>
{% endblock js %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-9 col-12" id="cart-products">
        <!-- inicio item -->
        <div class="product-item card">
            <input type="hidden" value="1" id="productid" name="productid">
            <div class="card-block">
            <div class="row">
                <div class="col-lg-1 col-2">
                    <img src="https://www.pcfactory.cl/public/foto/38367/1_500.jpg?t=1597845348" alt="telefono-samsung" class="product-image">
                </div>
                <div class="col-lg-6 col-10 text-center" >Telefono Samsung</div>
                <div class="col-lg-2 col-3 ammount">
                    <input type="number" class="form-control" value="2" maxlength="2" min="1">
                </div>
                <div class="col-lg-3 col-9 text-right" >$1.000.000</div>
            </div>
            </div>
        </div>
        <!-- final item -->
    </div>
    <div class="col-md-3 col-12">
        <div class="card float-right" id="pagar">
            <div class="card-block">
            <span class="col-4" style="padding-left: 0;">Total:</span>
            <span class="col-6" style="padding-left: 0;">$1.000.000</span>
            <button class="btn btn-success float-right" style="margin-top: 1rem;">PAGAR</button>
            <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}

