{% extends 'SidebarTemplate.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sidebar.css'%}">
<link rel="stylesheet" href="{% static 'css/productGalery.css'%}">
<link rel="stylesheet" href="{% static 'css/productPreview.css'%}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/helper.js'%}"></script>
<script src="{% static 'js/sidebar.js'%}"></script>
<script src="{% static 'js/productPreview.js'%}"></script>
<script src="{% static 'js/cart.js'%}"></script>

<script src="{% static 'controllers/productCardApiController.js'%}"></script>
{% endblock js %}

{% block bodyTop %}
<div id="product-preview" class="d-none">
    <div id="product-preview-background"></div>
    <div id="product-preview-card" class="card col-lg-6 col-sm-10 col-12">
        <div id="product-preview-products">
        </div>
    </div>
</div>
{% include "ProductPreview.html" %}
{% endblock bodyTop %}

{% block content %}
    <!-- carrusel -->
    {% include "Carousel.html" %}
    <!-- productos -->
    <div class="container">
        <div class="row justify-content-center" id="cardGallery"></div>
    </div>
{% endblock content %}