{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css'%}">
    <script src="{% static 'js/sidebar.js'%}"></script>
{% endblock css %}


{% block wrapper %}
    <!-- SIDEBAR -->
        <div class="col-12 col-lg-3 col-xl-2" id="categorias">
            <a class="category-toggler d-lg-none d-xl-none" type="button" data-toggle="collapse" data-target="#category-list" aria-controls="category-list" aria-expanded="false" aria-label="Toggle navigation">
                <span>Categorias</span>
            </a>
            <nav class="d-xl-block d-lg-block collapse" id="category-list">
                {% for category_parent in categorie_parents %}
                <ul class="navbar-nav mr-auto">
                    <a href="#category-{{ category_parent.categoryParent_id }}" data-toggle="collapse">{{ category_parent.nombre }}</a>
                    <li id="category-{{ category_parent.categoryParent_id }}" class="collapse">
                        {% for categoria in category_parent.Categorias %}
                        <ul>{{ categoria.nombre }}</ul>
                        {% endfor %}
                    </li>
                </ul>
                {% endfor %}
            </nav>
        </div>
        <!-- content -->
        <div class="col-12 col-lg-9 col-xl-10" id="content">
            {% block content %}
            {% endblock content %}
        </div>
{% endblock wrapper %}