{% extends 'BaseTemplate.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css'%}">
{% endblock css %}

{% block wrapper %}
<div class="card" id="contactCard">
<form action="#" method="GET">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" maxlength="20" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputApellido">Apellido</label>
            <input type="text" class="form-control" id="inputApellido" maxlength="20" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="correo@dominio.com" maxlength="50" required pattern="([a-zA-Z0-9\.]*)@([a-zA-Z0-9\.]*)(\.[a-z]*)$">
    </div>
    <div class="form-group">
        <label for="inputAsunto">Asunto</label>
        <input type="text" class="form-control" id="inputAsunto" placeholder="" maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="inputMensaje">Mensaje</label>
        <textarea class="form-control md-textarea" id="inputMensaje" rows="5" maxlength="300" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
</div>
{% endblock wrapper %}

